---
import { Icon } from 'astro-icon';
---

<section class="relative">
	<div class="max-w-6xl mx-auto px-4 sm:px-6 ">
		<div class="py-12 md:py-20 ">
			<div class="max-w-3xl mx-auto text-center p-6 rounded-md shadow-xl bg-primary-600">
				<h2 class="text-4xl text-slate-100 dark:text-slate-200 md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					<span>Win Big with H.N.I.C. Lottery</span> 
				</h2>
				<p class="text-xl text-slate-200 dark:text-slate-300">
					
				</p>
			

				<div class="mt-6">
					<a
						class="btn bg-white text-primary-600 hover:bg-primary-800 mb-4 sm:mb-0"
						href="https://hnic-lottery.vercel.app/"
						target="_blank"
						rel="noopener"
					>
						<Icon name="tabler:rocket" class="w-6 h-6 mr-2 -ml-1.5" /> Try the Game Now
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
