<div class="max-w-3xl mb-5 mt-24 mx-5 md:mx-auto sm:text-center lg:max-w-7xl ">
		
	<h2 class="text-4xl md:text-5xl font-bold mx-10 md:mx-auto leading-tighter tracking-tighter mb-6 font-heading">
		Our Clients
	</h2>

	<div class="owl-two img-carousel owl-carousel owl-theme my-10 max-w-5xl mx-auto">
	<div class="item">

			<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2FAMBUJACEM.NS-bc1a2948.png?alt=media&token=7cfde3b8-b3ab-4885-90fd-0f58f67e53f5'class="w-full rounded-md">
	</div>
	<div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2Fimage%2080.png?alt=media&token=6a548534-1405-40e0-bb37-0ec9183341e4'class="w-full rounded-md">
		

	
	</div>
	<div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2Fimage%2081.png?alt=media&token=e2da224f-e24f-4a04-b7c4-956e3756b397'class="w-full rounded-md">
	
	</div>
	<div class="item">
		<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2Fimage%2082.png?alt=media&token=2384303e-f576-4a40-9936-1d3e2fcd1fa4'class="w-full rounded-md">
			
	</div>

	<div class="item">
		<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2Fimage%2083.png?alt=media&token=8b5c8a5f-b612-4a00-a7dc-5fa574d77756' class="w-full rounded-md">
	</div>
	
	<div class="item">
		<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2Fimage%2085.png?alt=media&token=6491b5e0-6a4b-4878-8c79-c92861052009' class="w-full rounded-md">
			
	</div>
	<div class="item">
		<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2Fimage%2086.png?alt=media&token=fb80a6d9-9f1a-4d32-b4d9-a94e0555d0ac' class="w-full rounded-md">
			
	</div>
	<div class="item">
		<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2Fimage%2087.png?alt=media&token=3011b829-03e8-4350-90d8-6dbfdbf1fc5a' class="w-full rounded-md">
			
	</div>

	<div class="item">
		<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2Fimage%2088.png?alt=media&token=9936ca32-226c-42dc-b433-8bbac0d9b616' class="w-full rounded-md">
			
	</div>
	<div class="item">
		<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2Fimage%2089.png?alt=media&token=cc5aaec0-c8cb-470c-a2a0-b111c36ae6a1' class="w-full rounded-md">
			
	</div>
	<div class="item">
		<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2Fimage%2090.png?alt=media&token=5b7925d4-cf2c-44e9-b603-e970e090c19f' class="w-full rounded-md">
			
	</div>
	<div class="item">
		<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2Fimage%2091.png?alt=media&token=37820436-b46a-49df-b7f3-e85233e67e30' class="w-full rounded-md">
			
	</div>
	<div class="item">
		<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2Fimage%2092.png?alt=media&token=4ccfbd09-4276-453e-9565-889b8c981268' class="w-full rounded-md">
			
	</div>
	<div class="item">
		<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2Fimage%2093.png?alt=media&token=3b505f97-2155-4867-930e-e3ce3f5d9ddd' class="w-full rounded-md">
			
	</div>
	<div class="item">
		<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2Fimage%2094.png?alt=media&token=886623b3-ace4-4bcf-a6e9-0e7071961cff' class="w-full rounded-md">
			
	</div>
	<div class="item">
		<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2Fimage%2095.png?alt=media&token=d35ef13e-9504-4fb9-967d-02320c4d3a1f' class="w-full rounded-md">
			
	</div>
	<div class="item">
		<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2Fimage%2096.png?alt=media&token=dddfea76-3942-4888-be0c-6aa0cbdcce9f' class="w-full rounded-md">
			
	</div>
	<div class="item">
		<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2Fimage%2097.png?alt=media&token=8cd9892b-ef10-43e7-88cb-ee62cf9fc761' class="w-full rounded-md">
			
	</div>
	
	<div class="item">
		<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2Fimage%2099.png?alt=media&token=47ca3673-742b-4436-a5c1-ed2f7cf1717c' class="w-full rounded-md" style='height:80%'>
			
	</div>
	</div>
</div>




<!-- Photo library -->

<div class="item">
			
	<img src='https://firebasestorage.googleapis.com/v0/b/website-storage-account.appspot.com/o/Just%20Learn%20Farming%2FWhatsApp%20Image%202023-04-06%20at%204.43.06%20PM.jpeg?alt=media&token=a4c12f89-f482-4007-bb7a-bfd04639b647'class="w-full rounded-md">

</div>
<div class="item">
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.54.54%20PM.jpeg?alt=media&token=b0e7c1a7-f528-4dc7-b200-00c5f0a007b9'class="w-full rounded-md">
		
</div>

<div class="item">
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.54.55%20PM%20(2).jpeg?alt=media&token=deee2fce-a83e-40b2-b40c-d37fed546ab8' class="w-full rounded-md">
</div>
<div class="item">
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.54.55%20PM%20(3).jpeg?alt=media&token=c4d6ecb5-c7fa-44f4-8a78-6ca793d9e3cd' class="w-full rounded-md">
		
</div>
<div class="item">
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.54.55%20PM%20(4).jpeg?alt=media&token=9c242965-023b-4a26-b963-01782ea06194' class="w-full rounded-md">
		
</div>
<div class="item">
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.54.55%20PM%20(5).jpeg?alt=media&token=e74f8f61-cd3d-4ca9-b9d8-84ecc42079f2' class="w-full rounded-md">
		
</div>
<div class="item">
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.54.55%20PM%20(6).jpeg?alt=media&token=55e4ee45-dc25-4c01-9dd7-4a65f0264239' class="w-full rounded-md">
		
</div>
<div class="item">
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.54.55%20PM%20(7).jpeg?alt=media&token=abed67b1-c51a-40f7-a37e-d48ef8fe1db0' class="w-full rounded-md">
		
</div>
<div class="item">
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.54.55%20PM%20(8).jpeg?alt=media&token=104e089b-fab2-4e2a-98ab-52ad304f88ce' class="w-full rounded-md">
		
</div>
<div class="item">
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.54.55%20PM%20(9).jpeg?alt=media&token=2d530393-896c-4655-9d87-040b47436f81' class="w-full rounded-md">
		
</div>
<div class="item">
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.58.08%20PM%20(1).jpeg?alt=media&token=617f53de-d310-4c16-bb85-73e3cbff14f1' class="w-full rounded-md">
		
</div>
<div class="item">
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%207.07.09%20PM%20(1).jpeg?alt=media&token=2eca1f51-2c7b-4dad-9ecc-1c3860f2d44f' class="w-full rounded-md">
		
</div>
<div class="item">
	<img src='https://firebasestorage.googleapis.com/v0/b/website-storage-account.appspot.com/o/Just%20Learn%20Farming%2FWhatsApp%20Image%202023-04-05%20at%207.27.49%20PM.jpeg?alt=media&token=a8d55ff7-c627-4403-9f10-207960ba5581' class="w-full rounded-md">
		
</div>
<div class="item">
	<img src='https://firebasestorage.googleapis.com/v0/b/website-storage-account.appspot.com/o/Just%20Learn%20Farming%2FWhatsApp%20Image%202023-03-22%20at%201.36.40%20PM.jpeg?alt=media&token=d98f636e-19dc-4e44-9516-a5356a175e37' class="w-full rounded-md">
		
</div>
<div class="item">
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%207.12.03%20PM%20(2).jpeg?alt=media&token=977984f9-7c0d-4544-b790-cc68acb55b0c' class="w-full rounded-md">
		
</div>
<div class="item">
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%207.10.10%20PM%20(2).jpeg?alt=media&token=87615d41-e87c-460d-ad7c-79712c7ef18e' class="w-full rounded-md">
		
</div>
<div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.22.56%20PM.jpeg?alt=media&token=cfe94c2c-6d3f-4b91-ab79-3f4fc3b3ee29'class="w-full rounded-md">
</div>

<div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.23.01%20PM%20(1).jpeg?alt=media&token=42f13de8-a6aa-4caa-b32f-78377fb491af'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.23.01%20PM.jpeg?alt=media&token=063fabe8-41fa-41f4-990c-ebc8fe492f36'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.23.03%20PM.jpeg?alt=media&token=8071a86a-fb4f-403a-bbc6-d239e66d9c3b'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.23.04%20PM.jpeg?alt=media&token=65929639-f7f3-4112-9a3b-477a9ae75c00'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.23.07%20PM.jpeg?alt=media&token=878f21c9-861f-487c-bfee-03ac8859f79d'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.22.54%20PM.jpeg?alt=media&token=5a63af07-101f-456f-b129-f2c3a08e69d7'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.23.09%20PM.jpeg?alt=media&token=8a233cec-fc2f-4fd6-aae2-827a0b0be57e'class="w-full rounded-md">
</div>
<div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.22.54%20PM.jpeg?alt=media&token=5a63af07-101f-456f-b129-f2c3a08e69d7'class="w-full rounded-md">
</div>
<div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.49.42%20PM%20(1).jpeg?alt=media&token=424bc8a7-2f6b-4c81-af55-4ccabaccaa89'class="w-full rounded-md">
</div>
<div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.49.42%20PM.jpeg?alt=media&token=355d3b0f-59c5-4047-a090-75f0479f94c9'class="w-full rounded-md">
</div>
<div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.51.33%20PM.jpeg?alt=media&token=b72c71cf-4673-4833-b4b0-87853c84cf61'class="w-full rounded-md">
</div>
<div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.51.34%20PM%20(1).jpeg?alt=media&token=43a9194c-f860-43db-9795-5a55d10d79c8'class="w-full rounded-md">
</div>
<div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.51.34%20PM%20(4).jpeg?alt=media&token=58853878-f497-4de3-9cf7-2a6dccfce60a'class="w-full rounded-md">
</div>

<div class="item">
			
<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.51.34%20PM%20(5).jpeg?alt=media&token=c8713c1a-bba0-4bea-8946-c002882168bf'class="w-full rounded-md">
			

		
</div>