--
import { SITE } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';

import { Icon } from 'astro-icon';
import Picture from '~/components/core/Picture.astro';
import Steps from '~/components/widgets/Steps.astro'
import ToggleTheme from '~/components/core/ToggleTheme.astro';
import ToggleMenu from '~/components/core/ToggleMenu.astro';
import Content from '~/components/widgets/Content.astro';

const meta = {
	title: SITE.title,
	description: SITE.description,
	canonical: getCanonical(getHomePermalink()),
};
---


<Layout {meta}>


	<!-- HEADER SECTION  -->

	<header id="header" class="sticky top-0 z-40 flex-none mx-auto w-full bg-white md:bg-white/90 dark:bg-slate-900 dark:md:bg-slate-900/90 md:backdrop-blur-sm border-b dark:border-b-0">
		<div class="py-3 px-3 mx-auto w-full md:flex md:justify-between max-w-6xl md:px-10">
			<div class="flex justify-between">

<a class="flex items-center" href={getHomePermalink()}>
					<img src="https://firebasestorage.googleapis.com/v0/b/website-storage-account.appspot.com/o/YCBH%2FWhatsApp_Image_2023-03-19_at_1.24.21_PM-removebg-preview.png?alt=media&token=938b2a6c-792e-4516-806f-64297833d255" alt="Company Logo" width="60" height="60" class="rounded-md">
				
				</a>


			</div>
			<nav
				class="items-center w-full md:w-auto hidden md:flex text-gray-600 dark:text-slate-200 h-screen md:h-auto"
				aria-label="Main navigation"
			>
				<ul class="flex flex-col pt-8 md:pt-0 md:flex-row md:self-center w-full md:w-auto text-xl md:text-base">
					
		
				<li>
						<a class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out" href="#about" target="_blank">About us
						</a>
					</li>

					<li>
						<a class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out" href="/domains" target="_blank">Technical Domains
						</a>
					</li>
					<li>
						<a class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out" href="/news" target="_blank">News & Media
						</a>
					</li>
			
<li class="xl:hidden">
						<a class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out" href="https://wa.me/919643306888?text=I%20checked%20out%20your%20website%20and%20I%27m%20interested" target="_blank">Contact us
						</a>
					</li>

					<li>
						<a class="btn bg-primary-500 ml-4 font-medium text-white px-6 hover:bg-yellow-400 py-3 flex items-center transition duration-150 ease-in-out" href="http://learning.justlearnindia.in/" target="_blank">Login to Portal
						</a>
					</li>

				</ul>
				<div class="md:self-center flex items-center mb-4 md:mb-0 ml-2">
					<div class="hidden items-center md:flex">
						<!-- <a
							href="https://www.linkedin.com/company/mrmarketapp/"
							target="_blank"
							class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5"
							aria-label="linkedin"
						>
							<Icon name="tabler:brand-linkedin" class="w-6 h-6" />
						</a> -->
						
						<!-- <ToggleTheme iconClass="w-6 h-6" /> -->
					</div>
				</div>
			</nav>
		</div>
	</header>



<div class="scrollButtons">
		<button id="scrollUpButton" class="scrollButton">&#x25B2;</button>
		<button id="scrollDownButton" class="scrollButton">&#x25BC;</button>
	  </div><div class="max-w-[80rem] px-4 sm:px-6 lg:px-8 lg:py-12 lg:pb-16 mx-auto">

      <div class="max-w-3xl mx-auto text-center mb-5 mt-10 lg:mb-5">
        <h2 class="text-4xl font-bold md:text-5xl md:leading-tight dark:text-white"><span class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500 ">Domains we cater
        </span>
        </h2>
      </div>
        <div class="mt-5 grid sm:grid-cols-2 lg:grid-cols-2 lg:items-top">
            <!-- Card -->
            
            <div class="flex flex-col text-left items-center rounded-xl p-5 ">
            
                <ul class="item-list font-medium text-xl">
                    <li><i class="fas fa-industry"></i> Iron & Steel industries</li>
                    <li><i class="fas fa-heartbeat"></i> Healthcare</li>
                    <li><i class="fas fa-bolt"></i> Power & Energy</li>
                    <li><i class="fas fa-mountain"></i> Mining</li>
                    <li><i class="fas fa-building"></i> Cement</li>
                    <li><i class="fas fa-tractor"></i> Agriculture</li>
                    <li><i class="fas fa-cogs"></i> Heavy Industries</li>
                    <li><i class="fas fa-hard-hat"></i> Construction</li>
                    <li><i class="fas fa-car"></i> Automobiles</li>
                    <li><i class="fas fa-cogs"></i> Manufacturing</li>
                    <li><i class="fas fa-microchip"></i> Electronics</li>
                    <li><i class="fas fa-plug"></i> Electricals</li>
                    <li><i class="fas fa-tshirt"></i> Apparels</li>
                    <li><i class="fas fa-socks"></i> Textiles</li>
                    <li><i class="fas fa-concierge-bell"></i> Hospitality</li>
                    <li><i class="fas fa-shopping-cart"></i> Retail</li>
                    <li><i class="fas fa-hands-helping"></i> NGOs and Foundations</li>
                </ul>
               
 
        
            </div>
        
        
        
            <!-- End Card -->
        
            <!-- Card -->
            <div class="flex flex-col text-left items-center rounded-xl p-5 ml-6">
                <ul class="item-list font-medium text-xl">
                    <li><i class="fas fa-globe"></i> Developmental Organizations</li>
        <li><i class="fas fa-university"></i> Educational Institutions</li>
        <li><i class="fas fa-graduation-cap"></i> Colleges / Universities</li>
        <li><i class="fas fa-school"></i> Schools</li>
        <li><i class="fas fa-city"></i> Central & State Govt. projects</li>
        <li><i class="fas fa-leaf"></i> Agri & Dairy</li>
        <li><i class="fas fa-apple-alt"></i> Organic Farming</li>
        <li><i class="fas fa-chalkboard-teacher"></i> Developmental Trainings & Soft Skills</li>
        <li><i class="fas fa-lightbulb"></i> Entrepreneurship</li>
        <li><i class="fas fa-robot"></i> Robotics</li>
        <li><i class="fas fa-charging-station"></i> EV</li>
        <li><i class="fas fa-solar-panel"></i> Solar</li>
        <li><i class="fas fa-microchip"></i> Semiconductors</li>
        <li><i class="fas fa-satellite"></i> Space and Satellite</li>
        <li><i class="fas fa-oil-can"></i> Oil & Gas</li>
        <li><i class="fas fa-football-ball"></i> Sports</li>
        <li><i class="fas fa-ellipsis-h"></i> & More</li>
                </ul>
            </div>
         
            
            <!-- Card -->
            
            </div>
        </div><footer class="border-t border-gray-200 dark:border-slate-800">
		<div class="max-w-6xl mx-auto px-4 sm:px-6">
			<div class="grid grid-cols-12 gap-4 gap-y-8 sm:gap-8 py-8 md:py-12">
				<div class="col-span-12 lg:col-span-4">
					<div class="mb-2">
					
						<a class="inline-block font-bold text-xl" href="/">
							Just Learn India, a product of Just Rojgar Solutions Pvt. Ltd.
						</a>
				
					</div><div class="text-sm text-gray-600">
								
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 hover:underline transition duration-150 ease-in-out" href="https://wa.me/919643306888?text=I%20checked%20out%20your%20website%20and%20I'm%20interested." target="_blank"> 
							Indian Institute of Management- IIML, 1 F , B1,  
Institutional Area, Sector 62, Noida – 201307 (U.P)- India
							</a>
				
					</div>
			
					<div class="md:flex md:items-center md:justify-between py-6 md:py-8">
						<ul class="flex md:order-1 md:mb-0">
							
							<li>
								<a class="text-red-400  rounded-lg text-sm p-2.5 inline-flex items-center" aria-label="Email" href="mailto:info@justlearnindia.com" target="_blank">
									<svg viewBox="0 0 24 24" class="w-8 h-8" astro-icon="tabler:brand-gmail"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="icon-tabler"><path d="M16 20h3a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1h-3v16zM5 20h3V4H5a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1zM16 4l-4 4-4-4"/><path d="m4 6.5 8 7.5 8-7.5"/></g></svg>
								</a>
							</li>
							<li>
								<a class="text-blue-400  rounded-lg text-sm p-2.5 inline-flex items-center" aria-label="Phone" href="https://www.facebook.com/justlearnindia" target="_blank">
									<svg viewBox="0 0 24 24" class="w-8 h-8" astro-icon="tabler:brand-facebook"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 10v4h3v7h4v-7h3l1-4h-4V8a1 1 0 0 1 1-1h3V3h-3a5 5 0 0 0-5 5v2H7"/></svg>
								</a>
							</li>
							<li>
								<a class="text-blue-600  rounded-lg text-sm p-2.5 inline-flex items-center" aria-label="Phone" href="https://www.linkedin.com/in/justlearn" target="_blank">
									<svg viewBox="0 0 24 24" class="w-8 h-8" astro-icon="tabler:brand-linkedin"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="icon-tabler"><rect width="16" height="16" x="4" y="4" rx="2"/><path d="M8 11v5M8 8v.01M12 16v-5M16 16v-3a2 2 0 0 0-4 0"/></g></svg>
								</a>
							</li>
							<li>
								<a class="text-orange-400  rounded-lg text-sm p-2.5 inline-flex items-center" aria-label="Phone" href="tel:+91 9643306888" target="_blank">
									<svg viewBox="0 0 24 24" class="w-8 h-8" astro-icon="tabler:phone"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4h4l2 5-2.5 1.5a11 11 0 0 0 5 5L15 13l5 2v4a2 2 0 0 1-2 2A16 16 0 0 1 3 6a2 2 0 0 1 2-2"/></svg>
								</a>
							</li>
						
							
						</ul>
						
					</div><p class="hidden">
						Made with love by <a class="text-blue-600 hover:underline font-bold dark:text-gray-200" href="https://edden.app/" target="_blank"><u> Edden</u></a>
					</p>
				

				</div>
			</div>
		</div>
	</footer>

<script async src="https://tally.so/widgets/embed.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</Layout>
