---
import { SITE } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';

import { Icon } from 'astro-icon';
import Picture from '~/components/core/Picture.astro';
import Steps from '~/components/widgets/Steps.astro'
import ToggleTheme from '~/components/core/ToggleTheme.astro';
import ToggleMenu from '~/components/core/ToggleMenu.astro';
import Content from '~/components/widgets/Content.astro';

const meta = {
	title: SITE.title,
	description: SITE.description,
	canonical: getCanonical(getHomePermalink()),
};
---


<Layout {meta}>


	<!-- HEADER SECTION  -->

	<header id="header" class="sticky top-0 z-40 flex-none mx-auto w-full bg-white md:bg-white/90 dark:bg-slate-900 dark:md:bg-slate-900/90 md:backdrop-blur-sm border-b dark:border-b-0">
		<div class="py-3 px-3 mx-auto w-full md:flex md:justify-between max-w-6xl md:px-10">
			<div class="flex justify-between">
				<a class="flex items-center" href={getHomePermalink()}>
					<img src="https://firebasestorage.googleapis.com/v0/b/website-storage-account.appspot.com/o/YCBH%2FWhatsApp_Image_2023-03-19_at_1.24.21_PM-removebg-preview.png?alt=media&token=938b2a6c-792e-4516-806f-64297833d255" alt="Company Logo" width="60" height="60" class="rounded-md">
				

				
				
				</a>
				<div class="flex items-center md:hidden">
					<!-- <ToggleTheme /> -->
					<ToggleMenu />
				</div>
			</div>
			<nav
				class="items-center w-full md:w-auto hidden md:flex text-gray-600 dark:text-slate-200 h-screen md:h-auto"
				aria-label="Main navigation"
			>
				<ul class="flex flex-col pt-8 md:pt-0 md:flex-row md:self-center w-full md:w-auto text-xl md:text-base">
					
		
				<li>
						<a class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out" href="#about" target="_blank">About us
						</a>
					</li>

					<li>
						<a class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out" href="/domains" target="_blank">Technical Domains
						</a>
					</li>
					<li>
						<a class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out" href="/news" target="_blank">News & Media
						</a>
					</li>
				

	<li class="xl:hidden">
						<a class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out" href="https://wa.me/919643306888?text=I%20checked%20out%20your%20website%20and%20I%27m%20interested" target="_blank">Contact us
						</a>
					</li>

					<li>
						<a class="btn bg-primary-500 ml-4 font-medium text-white px-6 hover:bg-yellow-400 py-3 flex items-center transition duration-150 ease-in-out" href="http://learning.justlearnindia.in/" target="_blank">Login to Portal
						</a>
					</li>



				</ul>
				<div class="md:self-center flex items-center mb-4 md:mb-0 ml-2">
					<div class="hidden items-center md:flex">
						<!-- <a
							href="https://www.linkedin.com/company/mrmarketapp/"
							target="_blank"
							class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5"
							aria-label="linkedin"
						>
							<Icon name="tabler:brand-linkedin" class="w-6 h-6" />
						</a> -->
						
						<!-- <ToggleTheme iconClass="w-6 h-6" /> -->
					</div>
				</div>
			</nav>
		</div>
	</header>

	<div class="scrollButtons">
		<button id="scrollUpButton" class="scrollButton">&#x25B2;</button>
		<button id="scrollDownButton" class="scrollButton">&#x25BC;</button>
	  </div>

<div class="owl-three owl-carousel img-carousel owl-theme">
		<div class="item">
			<div class="my-div">
				<video autoplay muted loop playsinline class="my-div-video">
					<source src="https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/banner%2Fgifs%2Fezgif-1-0713aa60f9.mp4?alt=media&token=259ef4af-54f8-4566-97e6-24b02383e4fb" type="video/mp4">
				  </video>
			</div>
		</div>
		<div class="item">

		<div class="my-div">
			<video autoplay muted loop playsinline class="my-div-video">
				<source src="https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/banner%2Fgifs%2Fezgif-1-d5e338458b.mp4?alt=media&token=f5a69fb9-4a8a-4f0b-b881-9040b809d02b" type="video/mp4">
			  </video>
		</div>
		</div>
		
	    </div><div class="text-left pb-10 mt-6 md:mt-10  md:pb-16 max-w-6xl mx-4 md:mx-auto">
						
			<div class="max-w-6xl mx-auto text-left">

			<h2 class="text-3xl md:text-4xl font-bold leading-tighter text-center tracking-tighter mb-4 font-heading">
		
				<span class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500 "> Unlock the potential of your organisation with 360° Ed-Tech and Skill-Tech Solutions.
				</span>
			</h2>
			
			
			</div>



	



	<section id="about">
		<div class="px-4 py-16 mx-auto max-w-6xl lg:px-8 lg:py-12">
			<div class="max-w-xl md:mx-auto sm:text-center lg:max-w-4xl md:mb-5">
				<p class="text-base text-amber-600 dark:text-amber-200 font-semibold tracking-wide uppercase"></p>
				<h2 class="text-4xl md:text-5xl font-bold leading-tighter text-center tracking-tighter mb-4 font-heading">
					About
					<span class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500 whitespace-nowrap">  Just Learn 
					</span>
				</h2>
                <p class="text-xl text-gray-700 font-medium mb-12 mt-5 dark:text-white text-center">
					Just Learn, a product of Just Rojgar Solutions Pvt. Ltd., is a National Award-Winning EdTech and SkillTech brand backed by Indian Institute of Management, Lucknow-EIC which offers innovative solutions for 21st-century education, learning content, platform technology with mobile app, VR- Virtual Reality / Metaverse trainings, AI / ML in education, skilling/upskilling/ reskilling, employment, hybrid trainings in labs and capacity-building through tech-enabled solutions.
               </p>

			   <h2 class="text-4xl md:text-5xl font-bold mt-16 leading-tighter text-center tracking-tighter mb-4 font-heading">
				Our
				<span class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500 whitespace-nowrap">  Vision
				</span>
			</h2>
			<p class="text-2xl md:text-xl text-gray-700 font-semibold italic mt-5 dark:text-white text-center">
				"To connect 1 Billion people globally with 21st Century trainings & education."
		   </p>
			</div>
		   
		
		</div>


		<div class="px-4 py-8 md:py-8 sm:px-6 mx-auto md:px-24 lg:px-8 lg:py-0 lg:pb-10 max-w-7xl">
			<h2 class="text-4xl md:text-5xl font-bold leading-tighter text-center mt-5 tracking-tighter mb-8 font-heading">
				Our
				
				<span class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500 whitespace-nowrap"> Reach
				</span>
	
			</h2>
			<div class="grid grid-cols-1 row-gap-8 md:grid-cols-4">
				<div class="text-center md:border-r dark:md:border-slate-500 mb-10 md:mb-0">
					<div class="text-5xl font-bold lg:text-5xl xl:text-6xl text-primary-500 font-heading">60+</div>
					<p class="text-md font-medium tracking-widest text-gray-800 dark:text-slate-400 uppercase lg:text-base">
						B2B Clients
					</p>
				</div>
				<div class="text-center md:border-r dark:md:border-slate-500 mb-10 md:mb-0">
					<div class="text-5xl font-bold lg:text-5xl xl:text-6xl text-primary-500 font-heading">1500+</div>
					<p class="text-md font-medium tracking-widest text-gray-800 dark:text-slate-400 uppercase lg:text-base">
						Courses
					</p>
				</div>
				<div class="text-center md:border-r dark:md:border-slate-500 mb-10 md:mb-0">
					<div class="text-5xl font-bold lg:text-5xl xl:text-6xl text-primary-500 font-heading">150+</div>
					<p class="text-md font-medium tracking-widest text-gray-800 dark:text-slate-400 uppercase lg:text-base">
						Domains
					</p>
				</div>
	
				<div class="text-center">
					<div class="text-5xl font-bold lg:text-5xl xl:text-6xl text-primary-500 font-heading">1000+</div>
					<p class="text-md font-medium tracking-widest text-gray-800 dark:text-slate-400 uppercase lg:text-base">Empanneled Trainers</p>
				</div>
	
				
	
				</div>
		</div>

	</section>
		





	<!-- FEATURES  -->
	<section id="features" class="scroll-mt-16">
		<div class="px-4 py-16 mb-10 mx-auto max-w-6xl lg:px-8 lg:py-20 bg-primary-50 dark:bg-slate-800">
			<div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
				<p class="text-base text-primary-600 dark:text-primary-200 font-semibold tracking-wide uppercase"></p>
				<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					Our Offerings as Solution to 
				
					<span
						class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500 whitespace-nowrap">  Market Needs
					</span>
					
				</h2>
			</div>
			<div class="grid mx-auto space-y-4 md:space-y-0 md:grid-cols-2">

				<!-- FEATURE 1 -->
				<div class="space-y-8 sm:px-8">
					<div class="flex flex-row max-w-md">
						<div class="mb-4 mr-4">
							<div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary-400">
								<Icon name='tabler:book' class="w-5 h-5 text-white" />
							</div>
						</div>
						<div>

					<h3 class="mb-3 text-xl font-bold"> 1500+ relevant courses in 150+ domains with certifications </h3>
						<p> Focusing on Industry 4.0 requirements </p>
							<br>
						</div>
					</div>
				</div>
				
				<!-- FEATURE 2 -->
				<div class="space-y-8 sm:px-8">
					<div class="flex flex-row max-w-md">
						<div class="mb-4 mr-4">
							<div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary-400">
								<Icon name='tabler:bulb' class="w-5 h-5 text-white" />
							</div>
						</div>
						<div>

						<h3 class="mb-3 text-xl font-bold"> Technical domains as well as Soft Skills, Language Training, Computer Literacy </h3>
							<p> To help in overall development of proficiency of the workforce </p>
							<br>
							<br>
						</div>
					</div>
				</div>
			
				
		
				<!-- FEATURE 3 -->
				<div class="space-y-8 sm:px-8">
					<div class="flex flex-row max-w-md">
						<div class="mb-4 mr-4">
							<div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary-400">
								<Icon name='tabler:school' class="w-5 h-5 text-white" />
							</div>
						</div>
						<div>

		<h3 class="mb-3 text-xl font-bold"> An integrated, 360 degree Learning Management Solution to connect all stakeholders </h3>
							<p> Allows learning, skill gap assessments, tests / assignments and certification. Supported by Mobile App </p>
							
							<br>
						</div>
					</div>
				</div>
				
					
				<!-- FEATURE 4 -->
				<div class="space-y-8 sm:px-8">
					<div class="flex flex-row max-w-md">
						<div class="mb-4 mr-4">
							<div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary-400">
								<Icon name='tabler:stack' class="w-5 h-5 text-white" />
							</div>
						</div>
						<div>

						<h3 class="mb-3 text-xl font-bold"> Customising Skilling Solutions based on specific industry / organizational needs </h3>
							<p> Just Learn also provides customised curriculum based on the requirement in industry or organisation </p>
						</div>
					</div>
				</div>

<div class="space-y-8 sm:px-8">
					<div class="flex flex-row max-w-md">
						<div class="mb-4 mr-4">
							<div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary-400">
								<svg viewBox="0 0 24 24" class="w-5 h-5 text-white" astro-icon="tabler:cardboards"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="icon-tabler"><path d="M3 7v8.5A2.5 2.5 0 0 0 5.5 18h1.06a3 3 0 0 0 2.34-1.13l1.54-1.92a2 2 0 0 1 3.12 0l1.54 1.92A3 3 0 0 0 17.44 18h1.06a2.5 2.5 0 0 0 2.5-2.5V7a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2z"/><circle cx="8" cy="11" r="1"/><circle cx="16" cy="11" r="1"/></g></svg>
							</div>
						</div>
						<div>

							 <h3 class="mb-3 text-xl font-bold"> Virtual Reality Trainings and Metaverse </h3> 
							<p> To provide trainings on critical topics with an immersive experience & interactions and developing walk-throughs in Metaverse environment</p> 
							<br>
						</div>
					</div>
				</div>


				<div class="space-y-8 sm:px-8">
					<div class="flex flex-row max-w-md">
						<div class="mb-4 mr-4">
							<div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary-400">
								<svg viewBox="0 0 24 24" class="w-5 h-5 text-white" astro-icon="tabler:stack"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="icon-tabler"><path d="m12 6-8 4 8 4 8-4-8-4M4 14l8 4 8-4"/></g></svg>
							</div>
						</div>
						<div>

							<h3 class="mb-3 text-xl font-bold"> VR Learning for young learners </h3> 
							<p>Promoting STEM Education & Art-Integration in education to explain concepts better and improve retention</p> 
							<br>
						</div>
					</div>
				</div>
			
			
			</div>
		</div>
	</section>
				
	
<section id="services" class="relative ">
	<div class="max-w-[80rem] px-4 sm:px-6 lg:px-8 lg:py-12 lg:pb-16 mx-auto">
	  <!-- Title -->
	  <div class="max-w-4xl mx-auto text-center mb-10 lg:mb-14">
		<h2 class="text-4xl font-bold md:text-5xl md:leading-tight tracking-tight dark:text-white">Our Programmes<span class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-yellow-400 ">
		</span>
		</h2>
	  </div>
	  <!-- End Title -->
	
	  <!-- Grid -->
	  <div class="hidden md:block">
	  <div class="mt-12 mx-auto grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:items-center ">
		<!-- Card -->
		<div class="flex flex-col border-2 text-center rounded-xl p-5 border-primary-500 hover:border-yellow-300 hover:shadow-2xl my-special-box">
			

				
			
				<div class="owl-three owl-carousel">
					
				<div class="item"><img src="https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/image%20groups%2F3%2F85341762530.png?alt=media&token=08acfb51-c2ba-4b52-8392-d0edfc8aed6b" class="rounded-md w-full" style="object-fit: cover; height: 200px;"></div>
			<div class="item"><img src="https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/image%20groups%2F3%2Fimage%20201.png?alt=media&token=c3ad02e9-e403-443d-a51f-e7909f42cf96" class="rounded-md w-full" style="object-fit: cover; height: 200px;"></div>
			<div class="item"><img src="https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/image%20groups%2F3%2FScreenshot%202023-05-17%20at%2012.55.31%20AM.png?alt=media&token=6bd97cd6-f34d-4230-8913-2b3beb1ad25e" class="rounded-md w-full" style="object-fit: cover; height: 200px;"></div>
			<div class="item">	<img src="https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/image%20groups%2F3%2FScreenshot%202023-05-17%20at%2012.55.38%20AM.png?alt=media&token=265e68b5-cb3b-4b6f-be18-f3a399ee279f" class="rounded-md w-full" style="object-fit: cover; height: 200px;"></div>
		
			</div>

			
			<span class="font-bold text-2xl mt-5 text-gray-800 dark:text-gray-200">
				Technical Trainings
			</span>
		
			<p class="mt-2 text-sm text-gray-500">To enhance skills</p>
			<a class=" btn bg-primary-500 border-primary-500 text-white text-mn font-semibold hover:bg-secondary-400 border-2 shadow-md mt-5" href="http://learning.justlearnindia.in/" target="_blank">Know More
			</a>
		</div>
	
		<!-- End Card -->
	
		<!-- Card -->
		<div class="flex flex-col border-2 text-center  rounded-xl p-5 border-primary-500 hover:border-yellow-300 hover:shadow-2xl my-special-box">
			

		

		<div class="owl-three img-carousel owl-carousel owl-theme ">
			<div class="item"><img src="https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/image%20groups%2F4%2F27149839985%20(1).png?alt=media&token=418e2a95-e9b4-4230-88fe-5630d4d959bf" class="rounded-md " style="object-fit: cover; height: 200px;"></div>
			<div class="item"><img src="https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/image%20groups%2F4%2Fimage%20206.png?alt=media&token=26d7200a-76a7-430d-9272-7e0f9266e9ef" class="rounded-md" style="object-fit: cover; height: 200px;"></div>
			<div class="item">	<img src="https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/image%20groups%2F4%2Fimage%20207.png?alt=media&token=5fa5c57e-3ee1-44b3-b17b-77f09123965e" class="rounded-md" style="object-fit: cover; height: 200px;"></div>
			
			</div>
			
		

			
			
		
				<span class=" font-bold text-2xl mt-7 text-gray-800 dark:text-gray-200">
					Developmental Projects and Trainings
				</span>
			  <p class="mt-2 text-sm text-gray-500">To develop Soft Skills and Life Skills</p>
			  
		</div>
		<!-- End Card -->
	
		<div class="flex flex-col border-2  text-center rounded-xl p-5 border-primary-500 hover:border-yellow-300 hover:shadow-2xl my-special-box">
		
			
		
		<div class="owl-three owl-carousel owl-theme">
				
			<div class="item"><img src="https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/image%20groups%2F2%2Fimage%20198.png?alt=media&token=952a44f3-0add-4905-8330-2176c601bb51" class="rounded-md" style="object-fit: cover; height: 200px;"></div>
				<div class="item"><img src="https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/image%20groups%2F2%2Fimage%20199.png?alt=media&token=c57e9537-046e-451e-8a6f-328e35780c48" class="rounded-md" style="object-fit: cover; height: 200px;"></div>
				<div class="item"><img src="https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/vr%20for%20young%2FChem%20lab%201.jpg?alt=media&token=6eb72db1-0ed6-43f0-9fe6-222ed187e5ab" class="rounded-md" style="object-fit: cover; height: 200px;"></div>
				<div class="item"><img src="https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/vr%20for%20young%2FChem%20lab%202.png?alt=media&token=abda9d69-d8e8-465b-86b8-2ad93028398e" class="rounded-md" style="object-fit: cover; height: 200px;"></div>
				<div class="item"><img src="https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/vr%20for%20young%2FHuman%20anatomy.jpg?alt=media&token=0e01fb6a-20bd-4238-87a2-79d65af7e7ef" class="rounded-md" style="object-fit: cover; height: 200px;"></div>
				<div class="item"><img src="https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/vr%20for%20young%2FSpace%20Travel.png?alt=media&token=145217a5-4973-4213-968c-179b4933ab6e" class="rounded-md" style="object-fit: cover; height: 200px;"></div>
		
			</div>
		
	<span class=" font-bold text-2xl mt-7 text-gray-800 dark:text-gray-200">
		VR Learning for Young Learners
	</span>
  <p class="mt-1 text-sm text-gray-500">Learn in an immersive & interactive lifelike environment</p>
 
</div>

		<!-- Card -->
		<div class="flex flex-col border-2  text-center rounded-xl p-5 border-primary-500 hover:border-yellow-300 hover:shadow-2xl my-special-box">
			
				
				<div class="owl-three img-carousel owl-carousel owl-theme ">
				<div class="item"><img src="https://images.unsplash.com/photo-1605000797499-95a51c5269ae?ixlib=rb-4.0.3&#38;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&#38;auto=format&#38;fit=crop&#38;w=1771&#38;q=80" class="rounded-md" style="object-fit: cover; height: 200px;"></div>
			
			<div class="item"><img src="https://firebasestorage.googleapis.com/v0/b/website-storage-account.appspot.com/o/Just%20Learn%20Farming%2FScreenshot%202023-03-25%20at%2012.41.02%20AM.png?alt=media&token=6be6b42c-713b-461f-be45-3910d91fc0a1" class="rounded-md" style="object-fit: cover; height: 200px;"></div>
			<div class="item"><img src="https://firebasestorage.googleapis.com/v0/b/website-storage-account.appspot.com/o/Just%20Learn%20Farming%2FWhatsApp%20Image%202023-03-22%20at%201.36.40%20PM.jpeg?alt=media&token=d98f636e-19dc-4e44-9516-a5356a175e37" class="rounded-md " style="object-fit: cover; height: 200px;"></div>
			<div class="item"><img src="https://firebasestorage.googleapis.com/v0/b/website-storage-account.appspot.com/o/Just%20Learn%20Farming%2FWhatsApp%20Image%202023-03-22%20at%201.36.41%20PM.jpeg?alt=media&token=47f48a54-bcae-48f6-9f0b-83defb52610c" class="rounded-md" style="object-fit: cover; height: 200px;"></div>
			
			</div>
		
			<span class=" font-bold text-xl mt-5 text-gray-800 dark:text-gray-200">
				Organic Farming Training & Millets Trainings
			</span>
		  <p class="mt-1 text-sm text-gray-500">Learn how to grow and market organic produce</p>
		  <a class=" btn bg-primary-500 border-primary-500 text-white text-mn font-semibold hover:bg-secondary-400 border-2 shadow-md mt-5" href="https://organicfarmingtraining.justlearnindia.in/" target="_blank">Know More
			</a>
		</div>

		<div class="flex flex-col border-2  text-center rounded-xl p-5 border-primary-500 hover:border-yellow-300 hover:shadow-2xl my-special-box">
		
			
				
				<div class="owl-three owl-carousel owl-theme">
					<div class="item"><img src="https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/image%20groups%2F2%2F63042499043.png?alt=media&token=b506dad7-e458-4803-abb0-37f9e7879157" class="rounded-md" style="object-fit: cover; height: 200px;"></div>
				<div class="item"><img src="https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/image%20groups%2F2%2Fimage%20197.png?alt=media&token=0a488938-841c-4543-81e7-3e54a84691b3" class="rounded-md" style="object-fit: cover; height: 200px;"></div>
				<div class="item"><img src="https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/vr%20for%20young%2FVR%20modules%202-min.png?alt=media&token=b0d6e737-927c-4d49-965c-334b1f56668c" class="rounded-md" style="object-fit: cover; height: 200px;"></div>
				<div class="item"><img src="https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/vr%20for%20young%2Fmulti%20boom%20jumbo-min.png?alt=media&token=986ff384-3f7d-4a82-85f4-35ef2d6f896d" class="rounded-md" style="object-fit: cover; height: 200px;"></div>
				<div class="item"><img src="https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/vr%20for%20young%2FDumper%20Tipper%20Truck%20operations-min.png?alt=media&token=216d717f-d82e-4f1e-b14d-0ab612ab1392" class="rounded-md" style="object-fit: cover; height: 200px;"></div>
				
		
			</div>
				
		
			
			
			<span class=" font-bold text-2xl mt-7 text-gray-800 dark:text-gray-200 ">
				Virtual Reality and Metaverse Trainings
			</span>
		  <p class="mt-1 text-sm text-gray-500">Learn in an immersive & interactive lifelike environment</p>
		 
		</div>



		
		<div class="flex flex-col border-2 text-center rounded-xl p-5 border-primary-500 hover:border-yellow-300 hover:shadow-2xl my-special-box">
 
			

<div class="owl-three owl-carousel  owl-theme">
				<div class="item">	<img src="https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/image%20groups%2F3%2FScreenshot%202023-05-17%20at%2012.59.36%20AM.png?alt=media&token=8e70e285-a89c-4e7d-b009-4d7ef0e9e09f" class="rounded-md" style="object-fit: cover; height: 200px;"></div>
				<div class="item"><img src="https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/image%20groups%2F1%2Fimage%20195.png?alt=media&token=ef49500f-cf31-4d25-933a-88840d1d9e9e" class="rounded-md" style="object-fit: cover; height: 200px;"></div>
				<div class="item"><img src="https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/image%20groups%2F1%2FGroup%2092.png?alt=media&token=9ed9060a-69a3-4415-b01f-2026286baccb" class="rounded-md" style="object-fit: cover; height: 200px;"></div>
				
		
			
			
			</div>
			
	
		
			<span class=" font-bold text-2xl mt-7 text-gray-800 dark:text-gray-200">
				Learning Management System
			</span>
		  <p class="mt-1 text-sm text-gray-500"> 360 Degree Learning Management System</p>
		 
		</div>

		

	  <!-- End Grid -->
	</div>
</div>
	</div>
	
	




<section class="relative mt-5">
		<div class="max-w-[75rem] px-4 sm:px-6 lg:px-8 mt-20 mx-auto">
		
		  <div class="max-w-3xl mx-auto text-center mb-5 lg:mb-5">
			<h2 class="text-3xl font-bold md:text-4xl md:leading-tight dark:text-white">Awards and Recognitions<span class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500 ">
			</span>
			</h2>
			
		  </div>
		
		</div>
	
	 <div class="owl-one owl-carousel owl-theme my-10 max-w-6xl mx-auto">
		<div class="item">
			<div class="flex flex-col text-center items-center rounded-xl p-5 border-2 border-primary-500 max-w-xl">
				<img src="https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/awards%2Fimage%20182.png?alt=media&token=c59519ea-a906-43ef-aa0a-c582b3657d9f">
				
			  <p class="mt-3 text-sm font-medium text-justify text-gray-600"> CSR Award 2020 by Dr. Alok Mishra, Joint Secretary, AIU, GOI. for enabling & providing online and hybrid education for CSRs and corporates initiatives</p> 
			</div>
		
		</div>
		<div class="item">
			<div class="flex flex-col text-center items-center rounded-xl p-5 border-2 border-primary-500">
				<img src="https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/awards%2Fimage%20183.png?alt=media&token=a74c5a41-e599-4c9a-abf0-50ccb78218a4"> 
					
		
				  <p class="mt-3 text-sm font-medium text-justify text-gray-600"> Under 40 Top Entrepreneur Award 2022 by Business Mint
				</p>
			</div>
		
		</div>
		<div class="item">
			<div class="flex flex-col text-center items-center rounded-xl p-5 border-2 border-primary-500">
				<img src="https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/awards%2Fimage%20184.png?alt=media&token=d1b6c64d-c0f6-47af-ac1d-92ddee947647">
				
	
			  <p class="mt-3 text-sm font-medium text-justify text-gray-600">Just Learn receiving the Women Entrepreneur Award by Ambience Group on Women's Day for educating children and youth - Contribution to the lives of communities and making an impact, especially during pandemic.

			</p>
		</div>
		</div>

		<div class="item">
			<div class="flex flex-col text-center items-center rounded-xl p-5 border-2 border-primary-500">
				<img src="https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/awards%2Fimage%20185.png?alt=media&token=220a85a5-5212-4d97-bfbc-fba70da8b3b9">
				
	
	
			  <p class="mt-3 text-sm font-medium text-justify text-gray-600">
				Young Entrepreneur Award awarded on Char Saal Bemisaal
			</p>
		</div>
		</div>

		<div class="item">
			<div class="flex flex-col text-center items-center rounded-xl p-5 border-2 border-primary-500">
				
				
					<img src="https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/awards%2FGroup%2091-min.png?alt=media&token=bcdd6a9d-e44a-4bd2-bbc4-a080a63e3540"> 
			
			  <p class="mt-3 text-sm font-medium text-justify text-gray-600">
				Just Learn was selected among the Top 75 Impactful Indian organizations by Department of Science and Technology (DST), Government of India as a part of  ‘Azadi ka Amrit Mahotsavtov -75 years of Independence’ celebration.
			</p>
		</div>
		</div>

		<div class="item">
			<div class="flex flex-col text-center items-center rounded-xl p-5 border-2 border-primary-500">
				
					<img src="https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/awards%2Fimage%20186.png?alt=media&token=567069ca-2be4-4423-b7bf-d06d67e26034">
		
	
			  <p class="mt-3 text-sm font-medium text-justify text-gray-600">
				Maulana Mohammad Ali Jauhar Young Achiever Award by Jamia Millia Islamia, Central University
			</p>
		</div>
		</div>
		
		
	</div>
	</section>
	




<div class="max-w-4xl mb-10 mt-10 mx-5 md:mx-auto sm:text-center lg:max-w-7xl md:mb-12">
		
		<h2 class="text-4xl md:text-5xl font-bold mx-10 md:mx-auto leading-tighter tracking-tighter mb-4 font-heading">
			Photo Gallery
		</h2>

		<div class="owl-one img-carousel owl-carousel owl-theme my-10 max-w-6xl mx-auto">
			<div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.51.34%20PM%20(6).jpeg?alt=media&token=4301a35b-bbfc-4b51-9e99-42bfaf57ba4c'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.22.33%20PM.jpeg?alt=media&token=a044e680-39fc-42e6-b7f1-c2bf5d8c1e15'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.22.33%20PM%20(1).jpeg?alt=media&token=a749cea3-efef-402b-923b-c371c819dde7'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.22.34%20PM%20(1).jpeg?alt=media&token=c22b71b9-532b-4454-8ec5-f6a357b9b84e'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.22.34%20PM.jpeg?alt=media&token=517d812e-119b-46be-acc3-5c1bd670e12a'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.22.35%20PM%20(1).jpeg?alt=media&token=0be68b81-9824-4109-970f-421c60cf54ff'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.22.35%20PM.jpeg?alt=media&token=b753c05a-81aa-49e9-a206-ffeca7ec5c25'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.22.36%20PM%20(1).jpeg?alt=media&token=25057f41-4394-462f-954b-1e5c62f89a09'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.22.36%20PM.jpeg?alt=media&token=f9c17d83-c50d-4d3a-a124-dc64d6fe1240'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.22.37%20PM%20(1).jpeg?alt=media&token=5cb5b38a-779a-404a-8a55-581438b1e6ac'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.22.37%20PM.jpeg?alt=media&token=5431a751-bfe6-402a-80d9-d5763fcdcb16'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.22.38%20PM%20(1).jpeg?alt=media&token=a9669cd9-73af-47e6-bf2c-a3ea695a95e7'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.22.38%20PM.jpeg?alt=media&token=d78e5455-3132-4d19-b257-2f4cbf4bf060'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.22.40%20PM.jpeg?alt=media&token=75e88820-818b-48d8-b71d-8eb97ca9f9ae'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/website-storage-account.appspot.com/o/Just%20Learn%20Farming%2Fnew%20set%2FScreenshot%202023-04-09%20at%207.41.46%20PM.png?alt=media&token=2b514708-2167-47c2-8d09-9cc5e2a344e4'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.22.41%20PM%20(1).jpeg?alt=media&token=0a000c1d-9332-4994-80c4-c51fb876b386'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.22.42%20PM.jpeg?alt=media&token=1cb5d654-9880-494a-94e2-ce4ab3f83743'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.22.36%20PM.jpeg?alt=media&token=f9c17d83-c50d-4d3a-a124-dc64d6fe1240'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.22.44%20PM%20(1).jpeg?alt=media&token=ffd956ca-a095-4fb9-9835-718c2289ac8c'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.22.52%20PM.jpeg?alt=media&token=39c4bc7c-da89-44a2-ae31-1953bdd21325'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.22.53%20PM.jpeg?alt=media&token=c641af85-f1ee-4889-a291-6d883a5c8670'class="w-full rounded-md">
</div>
<div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.22.56%20PM.jpeg?alt=media&token=cfe94c2c-6d3f-4b91-ab79-3f4fc3b3ee29'class="w-full rounded-md">
</div>

<div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.23.01%20PM%20(1).jpeg?alt=media&token=42f13de8-a6aa-4caa-b32f-78377fb491af'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.23.01%20PM.jpeg?alt=media&token=063fabe8-41fa-41f4-990c-ebc8fe492f36'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.23.03%20PM.jpeg?alt=media&token=8071a86a-fb4f-403a-bbc6-d239e66d9c3b'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.23.04%20PM.jpeg?alt=media&token=65929639-f7f3-4112-9a3b-477a9ae75c00'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.23.07%20PM.jpeg?alt=media&token=878f21c9-861f-487c-bfee-03ac8859f79d'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.22.54%20PM.jpeg?alt=media&token=5a63af07-101f-456f-b129-f2c3a08e69d7'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.23.09%20PM.jpeg?alt=media&token=8a233cec-fc2f-4fd6-aae2-827a0b0be57e'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.22.54%20PM.jpeg?alt=media&token=5a63af07-101f-456f-b129-f2c3a08e69d7'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.49.42%20PM%20(1).jpeg?alt=media&token=424bc8a7-2f6b-4c81-af55-4ccabaccaa89'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.49.42%20PM.jpeg?alt=media&token=355d3b0f-59c5-4047-a090-75f0479f94c9'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.51.33%20PM.jpeg?alt=media&token=b72c71cf-4673-4833-b4b0-87853c84cf61'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.51.34%20PM%20(1).jpeg?alt=media&token=43a9194c-f860-43db-9795-5a55d10d79c8'class="w-full rounded-md">
</div><div class="item">
	
	<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.51.34%20PM%20(4).jpeg?alt=media&token=58853878-f497-4de3-9cf7-2a6dccfce60a'class="w-full rounded-md">
</div>




		<div class="item">
			
			<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.51.34%20PM%20(5).jpeg?alt=media&token=c8713c1a-bba0-4bea-8946-c002882168bf'class="w-full rounded-md">
			

		
		</div>
		<div class="item">
			
			<img src='https://firebasestorage.googleapis.com/v0/b/website-storage-account.appspot.com/o/Just%20Learn%20Farming%2FWhatsApp%20Image%202023-04-06%20at%204.43.06%20PM.jpeg?alt=media&token=a4c12f89-f482-4007-bb7a-bfd04639b647'class="w-full rounded-md">
		
		</div>
		<div class="item">
			<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.54.54%20PM.jpeg?alt=media&token=b0e7c1a7-f528-4dc7-b200-00c5f0a007b9'class="w-full rounded-md">
				
		</div>
	
		<div class="item">
			<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.54.55%20PM%20(2).jpeg?alt=media&token=deee2fce-a83e-40b2-b40c-d37fed546ab8' class="w-full rounded-md">
		</div>
		<div class="item">
			<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.54.55%20PM%20(3).jpeg?alt=media&token=c4d6ecb5-c7fa-44f4-8a78-6ca793d9e3cd' class="w-full rounded-md">
				
		</div>
		<div class="item">
			<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.54.55%20PM%20(4).jpeg?alt=media&token=9c242965-023b-4a26-b963-01782ea06194' class="w-full rounded-md">
				
		</div>
		<div class="item">
			<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.54.55%20PM%20(5).jpeg?alt=media&token=e74f8f61-cd3d-4ca9-b9d8-84ecc42079f2' class="w-full rounded-md">
				
		</div>
		<div class="item">
			<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.54.55%20PM%20(6).jpeg?alt=media&token=55e4ee45-dc25-4c01-9dd7-4a65f0264239' class="w-full rounded-md">
				
		</div>
		<div class="item">
			<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.54.55%20PM%20(7).jpeg?alt=media&token=abed67b1-c51a-40f7-a37e-d48ef8fe1db0' class="w-full rounded-md">
				
		</div>
		<div class="item">
			<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.54.55%20PM%20(8).jpeg?alt=media&token=104e089b-fab2-4e2a-98ab-52ad304f88ce' class="w-full rounded-md">
				
		</div>
		<div class="item">
			<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.54.55%20PM%20(9).jpeg?alt=media&token=2d530393-896c-4655-9d87-040b47436f81' class="w-full rounded-md">
				
		</div>
		<div class="item">
			<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.58.08%20PM%20(1).jpeg?alt=media&token=617f53de-d310-4c16-bb85-73e3cbff14f1' class="w-full rounded-md">
				
		</div>
		<div class="item">
			<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%207.07.09%20PM%20(1).jpeg?alt=media&token=2eca1f51-2c7b-4dad-9ecc-1c3860f2d44f' class="w-full rounded-md">
				
		</div>
		<div class="item">
			<img src='https://firebasestorage.googleapis.com/v0/b/website-storage-account.appspot.com/o/Just%20Learn%20Farming%2FWhatsApp%20Image%202023-04-05%20at%207.27.49%20PM.jpeg?alt=media&token=a8d55ff7-c627-4403-9f10-207960ba5581' class="w-full rounded-md">
				
		</div>
		<div class="item">
			<img src='https://firebasestorage.googleapis.com/v0/b/website-storage-account.appspot.com/o/Just%20Learn%20Farming%2FWhatsApp%20Image%202023-03-22%20at%201.36.40%20PM.jpeg?alt=media&token=d98f636e-19dc-4e44-9516-a5356a175e37' class="w-full rounded-md">
				
		</div>
		<div class="item">
			<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%207.12.03%20PM%20(2).jpeg?alt=media&token=977984f9-7c0d-4544-b790-cc68acb55b0c' class="w-full rounded-md">
				
		</div>
		<div class="item">
			<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%207.10.10%20PM%20(2).jpeg?alt=media&token=87615d41-e87c-460d-ad7c-79712c7ef18e' class="w-full rounded-md">
				
		</div>
		</div>
	</div>





	<div class="max-w-3xl mb-5 mt-24 mx-5 md:mx-auto sm:text-center lg:max-w-7xl ">
		
		<h2 class="text-4xl md:text-5xl font-bold mx-10 md:mx-auto leading-tighter tracking-tighter mb-6 font-heading">
			Our Clients
		</h2>

		<div class="owl-two img-carousel owl-carousel owl-theme my-10 max-w-5xl mx-auto">
		<div class="item">
	
				<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2FAMBUJACEM.NS-bc1a2948.png?alt=media&token=7cfde3b8-b3ab-4885-90fd-0f58f67e53f5'class="w-full rounded-md">
		</div>
		<div class="item">
			
			<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2Fimage%2080.png?alt=media&token=6a548534-1405-40e0-bb37-0ec9183341e4'class="w-full rounded-md">
			

		
		</div>
		<div class="item">
			
			<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2Fimage%2081.png?alt=media&token=e2da224f-e24f-4a04-b7c4-956e3756b397'class="w-full rounded-md">
		
		</div>
		<div class="item">
			<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2Fimage%2082.png?alt=media&token=2384303e-f576-4a40-9936-1d3e2fcd1fa4'class="w-full rounded-md">
				
		</div>
	
		<div class="item">
			<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2Fimage%2083.png?alt=media&token=8b5c8a5f-b612-4a00-a7dc-5fa574d77756' class="w-full rounded-md">
		</div>
		
		<div class="item">
			<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2Fimage%2085.png?alt=media&token=6491b5e0-6a4b-4878-8c79-c92861052009' class="w-full rounded-md">
				
		</div>
		<div class="item">
			<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2Fimage%2086.png?alt=media&token=fb80a6d9-9f1a-4d32-b4d9-a94e0555d0ac' class="w-full rounded-md">
				
		</div>
		<div class="item">
			<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2Fimage%2087.png?alt=media&token=3011b829-03e8-4350-90d8-6dbfdbf1fc5a' class="w-full rounded-md">
				
		</div>

		<div class="item">
			<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2Fimage%2088.png?alt=media&token=9936ca32-226c-42dc-b433-8bbac0d9b616' class="w-full rounded-md">
				
		</div>
		<div class="item">
			<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2Fimage%2089.png?alt=media&token=cc5aaec0-c8cb-470c-a2a0-b111c36ae6a1' class="w-full rounded-md">
				
		</div>
		<div class="item">
			<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2Fimage%2090.png?alt=media&token=5b7925d4-cf2c-44e9-b603-e970e090c19f' class="w-full rounded-md">
				
		</div>
		<div class="item">
			<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2Fimage%2091.png?alt=media&token=37820436-b46a-49df-b7f3-e85233e67e30' class="w-full rounded-md">
				
		</div>
		<div class="item">
			<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2Fimage%2092.png?alt=media&token=4ccfbd09-4276-453e-9565-889b8c981268' class="w-full rounded-md">
				
		</div>
		<div class="item">
			<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2Fimage%2093.png?alt=media&token=3b505f97-2155-4867-930e-e3ce3f5d9ddd' class="w-full rounded-md">
				
		</div>
		<div class="item">
			<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2Fimage%2094.png?alt=media&token=886623b3-ace4-4bcf-a6e9-0e7071961cff' class="w-full rounded-md">
				
		</div>
		<div class="item">
			<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2Fimage%2095.png?alt=media&token=d35ef13e-9504-4fb9-967d-02320c4d3a1f' class="w-full rounded-md">
				
		</div>
		<div class="item">
			<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2Fimage%2096.png?alt=media&token=dddfea76-3942-4888-be0c-6aa0cbdcce9f' class="w-full rounded-md">
				
		</div>
		<div class="item">
			<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2Fimage%2097.png?alt=media&token=8cd9892b-ef10-43e7-88cb-ee62cf9fc761' class="w-full rounded-md">
				
		</div>
		
		<div class="item">
			<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/logos%2Fimage%2099.png?alt=media&token=47ca3673-742b-4436-a5c1-ed2f7cf1717c' class="w-full rounded-md" style='height:80%'>
				
		</div>
		</div>
	</div>
	











	<!-- CTA SECTION -->
	<section id="cta" class="relative">
		<div class="max-w-6xl mx-auto px-4 sm:px-6 ">
			<div class="py-4 md:py-10 mb-10">
				<div class="max-w-4xl mx-auto text-center p-6 rounded-md shadow-xl bg-primary-500">
					<h2 class="text-4xl text-slate-100 dark:text-slate-200 md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					<span> Unlock Your Potential with Just Learn: Experience the Future of 21st Century Education &amp; Skilling. </span>
					</h2>
					<p class="text-xl text-slate-200 dark:text-slate-300">
						
					</p>

					<ul class="mt-4 grid sm:grid-cols-2 lg:grid-cols-2 gap-2 mx-auto lg:items-center max-w-[30rem]">
					<li>
						<a href="https://play.google.com/store/apps/details?id=com.justlearn.edu"
							target="_blank"
						>
						<img src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'
							alt="Google Play Link" style="max-width: 14rem;" class="rounded-md inline-flex items-center">
						</a>
					</li>
					<li>
						<a href="https://apps.apple.com/us/app/just-learn/id1556804585"
							target="_blank"
						>
						<img src='https://firebasestorage.googleapis.com/v0/b/website-storage-account.appspot.com/o/pribe%2Fapp-store-png-logo-33107.png?alt=media&token=9d6b8d50-4e55-4475-a5c3-441e68126b6e'
							alt="App Store Link" style="max-width: 13rem;" class="rounded-md inline-flex items-center">
						</a>
					</li>
					</ul>
				</div>
			</div>
		</div>
	</section>



	<section id="services" class="relative">
		<div class="max-w-[18rem] md:max-w-[65rem] px-4 sm:px-6 py-6 lg:px-8 lg:py-2  mx-auto border-b">
		  <!-- Title -->
		  <div class="max-w-3xl mx-auto mt-5 text-center">
			<h2 class="text-3xl font-bold md:text-4xl md:leading-tight dark:text-white"> <span class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500 ">Our Growth Partners
			</span></h2>
		  </div>
		
		  <!-- End Title -->
		
		  <!-- Grid -->
		  <div class=" grid sm:grid-cols-3 lg:grid-cols-3  md:max-w-3xl mx-auto lg:items-center">
			<!-- Card -->
			
			<div class="flex flex-col text-center rounded-xl p-8 ">
				
				<img src="https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/awards%2FLogo1.png?alt=media&token=282996f0-9648-4ceb-b2f1-24439374ed2f">
				
			</div>
		
		
			<!-- End Card -->
		
			<!-- Card -->
			
			<div class="flex flex-col text-center rounded-xl p-10 mb-2 ">
				<img src="https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/awards%2F8LNNNiimleic%20(1).png?alt=media&token=c3f37479-9dc1-4284-ae8c-eee0160510ae">
			
			
			  
			</div>
		
			<!-- End Card -->
		

			<div class="flex flex-col text-center rounded-xl p-10 mb-2 ">
				<img src="https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/awards%2FIIM_Lucknow_Logo.svg.png?alt=media&token=a8411986-541c-4585-83ad-8870f799d418">
			
			
			  
			</div>
			

			</div>
		  <!-- End Grid -->
		</div>
		

	<!-- End Usecases -->
	</section>





	<!-- FOOTERS SECTION -->
	<footer class="border-t border-gray-200 dark:border-slate-800">
		<div class="max-w-6xl mx-auto px-4 sm:px-6">
			<div class="grid grid-cols-12 gap-4 gap-y-8 sm:gap-8 py-8 md:py-12">
				<div class="col-span-12 lg:col-span-4">
				
					<div class="mb-2">
					
						<a class="inline-block font-bold text-xl" href={getHomePermalink()}>
							Just Learn India, a product of Just Rojgar Solutions Pvt. Ltd.
						</a>
				
					</div>
					<div class="text-sm text-gray-600">
								
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 hover:underline transition duration-150 ease-in-out" href= {data.ctalink} target="_blank"> 
							Indian Institute of Management- IIML, 1 F , B1,  
Institutional Area, Sector 62, Noida – 201307 (U.P)- India
							</a>
				
					</div>
					
			
					<div class="md:flex md:items-center md:justify-between py-6 md:py-8">
						<ul class="flex md:order-1 md:mb-0">
							
							<li>
								<a
									class="text-red-400  rounded-lg text-sm p-2.5 inline-flex items-center"
									aria-label="Email"
									href='mailto:info@justlearnindia.com'
									target="_blank"
								>
									<Icon name="tabler:brand-gmail" class="w-8 h-8" />
								</a>
							</li>
							<li>
								<a
									class="text-blue-400  rounded-lg text-sm p-2.5 inline-flex items-center"
									aria-label="Phone"
									href="https://www.facebook.com/justlearnindia"
									target="_blank"
								>
									<Icon name="tabler:brand-facebook" class="w-8 h-8" />
								</a>
							</li>
							<li>
								<a
									class="text-blue-600  rounded-lg text-sm p-2.5 inline-flex items-center"
									aria-label="Phone"
									href="https://www.linkedin.com/in/justlearn"
									target="_blank"
								>
									<Icon name="tabler:brand-linkedin" class="w-8 h-8" />
								</a>
							</li>
							<li>
								<a
									class="text-orange-400  rounded-lg text-sm p-2.5 inline-flex items-center"
									aria-label="Phone"
									href="tel:+91 9643306888"
									target="_blank"
								>
									<Icon name="tabler:phone" class="w-8 h-8" />
								</a>
							</li>
						
							
						</ul>
						
					</div>
				

				</div>
			</div>
		</div>
	</footer>

	<script async src="https://tally.so/widgets/embed.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script>

		$('.owl-one').owlCarousel({
		loop:true,
		margin:10,
		dots: false,
		autoplay: true,
		autoplayTimeout: 3000,	
		stagePadding:10,
		responsive:{
			0:{
				items:1
			},
			600:{
				items:2
			},
			1000:{
				items:3
			}
		}
	})
</script>
<script>
	$('.owl-two').owlCarousel({
		loop:true,
		margin:40,
		dots: false,
		autoplay: true,
		autoplayTimeout: 3000,	
		stagePadding:30,
		responsive:{
			0:{
				items:1
			},
			600:{
				items:2
			},
			1000:{
				items:3
			}
		}
	})
	</script>
<script>
	$('.owl-three').owlCarousel({
		loop:true,
		margin:30,
		dots: false,
		autoplay: true,
		autoplayTimeout: 3000,	
		stagePadding:30,
		responsive:{
			0:{
				items:1
			},
			600:{
				items:1
			},
			1000:{
				items:1
			}
		}
	})
	</script>
	<script>
	$(document).ready(function() {
    $('#scrollUpButton').click(function() {
        $('html, body').animate({scrollTop: 0}, 'slow');
    });

    $('#scrollDownButton').click(function() {
        $('html, body').animate({scrollTop: $(document).height()}, 'slow');
    });
});
</script>

	
</Layout>
    
