---
import '~/assets/styles/base.css';

import MetaTags from '~/components/core/MetaTags.astro';
import BasicScripts from '~/components/core/BasicScripts.astro';

const { meta = {} } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="motion-safe:scroll-smooth font-light 2xl:text-[20px]">
	<head>
		<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DTH4DSGM9S"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DTH4DSGM9S');
</script>
		<MetaTags {...meta} />
					 
		<meta property="og:image" content="https://firebasestorage.googleapis.com/v0/b/website-storage-account.appspot.com/o/YCBH%2FWhatsApp_Image_2023-03-19_at_1.24.21_PM-removebg-preview.png?alt=media&token=938b2a6c-792e-4516-806f-64297833d255" />
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>

	<body class="antialiased text-gray-900 dark:text-slate-300 tracking-tight bg-white dark:bg-slate-900">
		<slot />
		<BasicScripts />
		<style is:global>
			img {
				content-visibility: auto;
			}
			.shadow-effect {
		    background: #fff;
		    padding: 20px;
		    border-radius: 10px;
		    text-align: center;
			border:1px solid #ECECEC;
		    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
		}
	
		.my-div {
				background-image: url('https://images.unsplash.com/photo-1600880292203-757bb62b4baf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80');
				background-repeat: no-repeat;
				background-attachment: fixed;
				color: #f5d7d7;
				background-size: cover;
 				background-position: center;
			}
		/* .testimonial-name {
		    margin: -17px auto 0;
		    display: table;
		    width: auto;
		    background: green;
		    padding: 9px 35px;
		    border-radius: 12px;
		    text-align: center;
			font-weight: 700;
		    color: #fff;
		    box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
		} */
		
		.scrollButtons {
  position: fixed;
  right: 10px;
  bottom: 10%;
  transform: translateY(50%);
}

.scrollButton {
  background-color: #ccc;
  color: #fff;
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.scrollButton:hover {
  opacity: 0.7;
}

#scrollUpButton {
    right: 20px;
}

#scrollDownButton {
    right: 60px;
}

#scrollUpButton:hover, #scrollDownButton:hover {
    opacity: 0.7;
}
@media (max-width: 768px) { /* show on smaller screens only */
  .scrollButtons {
    display: block !important;
  }
}
		</style>
	</body>
</html>
